/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}

/* Universal styles
=================== */

/* colors */
:root {
    --gold-color: #D5966C;
    --grey-color: #444444;
    --white-color: #FFFFFF;
    --black-color: #151515; 
}

/* typography */
.heading {
    font-family: 'Big Shoulders Display', cursive;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--black-color);
}

.body {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
}

/* .heading.xl {
    font-size: 6rem;
    line-height: 92%;
}

.heading.l,
.heading.m,
.heading.s {
    line-height: 100%;
}

.heading.l {
    font-size: 4.375rem;
}

.heading.m {
    font-size: 3.75rem;
}

.heading.s {
    font-size: 2.25rem;
}

.body.m {
    font-size: 1.375rem;
    line-height: 145%;
    color: var(--grey-color);
}

.body.s {
    font-size: 1.125rem;
    line-height: 156%;
    color: var(--black-color);
} */

/* CUSTOM TYPOGRAPHY */
/* HERO */
/* mobile */
.heading.main {
    font-size: 3.75rem;
    line-height: 100%;
}

.body {
    font-size: 1.125rem;
    line-height: 156%;
    color: var(--black-color);
}
/* tablet */
@media only screen and (min-width: 615px) {
    .heading.main {
        font-size: 4.375rem;
    }
} 
/* desktop */
@media only screen and (min-width: 1100px) {
    .heading.main {
        font-size: 6rem;
        line-height: 92%;
    }
    .hero .body {
        font-size: 1.375rem;
        line-height: 145%;
        color: var(--grey-color);
    }
} 

/* ABOUT */
/* mobile */
.heading.secondary {
    font-size: 2.25rem;
    line-height: 100%;
}

/* desktop */
@media only screen and (min-width: 1000px) {
    .heading.secondary {
        font-size: 3.75rem;
    }
    .about .body {
        font-size: 1.375rem;
        line-height: 145%;
        
    }
} 




/* buttons */
.button {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: 0.181em;
    color: var(--white-color);
    display: flex;
}

.button-text {
    padding: 1.2em 1.5em;
    background-color: var(--black-color);
    transition: background-color 0.4s ease-in-out;
}

.button-arrow {
    background-color: var(--gold-color);
    padding: 0 1em;
    display: flex;
    align-items: center;
    transition: background-color 0.4s ease-out;
}

@media (hover: hover) {
    .button:hover .button-text {
        background-color: var(--gold-color);
    }
    .button:hover .button-arrow {
        background-color: var(--black-color);
    }
}

/* images */
img {
    max-width: 100%;
}

/* Hero section 
=============== */

.grid {
    display: grid;
    align-items: center;
    align-content: center;
    row-gap: 1.5rem;
}

.hero {
    grid-template-areas:
        "image"
        "title"
        "description"
        "button";
}

.hero .title,
.hero .description,
.hero .button {
    padding: 0 4vw;
}

.hero .black {
    grid-area: black-bg;
    background-color: black;
    width: 100%;
    height: 100%;
    grid-row: black-bg-1 / black-bg-2;
    grid-column: black-bg / span 2;
    display: none;
    z-index: -1;
}

.hero .image {
    grid-area: image;
}
.hero .title {
    grid-area: title;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.hero .description {
    grid-area: description;
}
.hero .button {
    grid-area: button;
}

/* ~ tablet */
@media only screen and (min-width: 615px) {
    .hero .title,
    .hero .description,
    .hero .button {
        padding: 0;
        margin-right: 3vw;
    }
    
    .hero {
        grid-template-columns: 2fr 2fr 6ch 2fr 2fr;
        grid-template-areas: 
            "image-one image-one image-one image-one image-one"
            "image image title title title"
            "image image description description description"
            "image image button button button"
            "image-two image-two image-two image-two image-two";
    }

    .hero .image {
        grid-row: image-one / image-two;
        grid-column: image-one / span 3;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* ~ desktop */
@media only screen and (min-width: 1100px) {
    .hero .black {
        display: block;
    }
    
    .hero .description {
        max-width: 40ch;
    }

    .hero {
        grid-template-columns: 1fr 35ch 30ch 30ch 10ch 3fr;
        grid-template-areas: 
            "black-bg-1 black-bg-1 image-one image-one image-one image-one"
            "black-bg-3 title image image description description"
            "black-bg black-bg image image button button"
            "black-bg black-bg image image blank blank"
            "black-bg-2 black-bg-2 image-two image-two image-two image-two";
    }

    .hero .title {
        grid-column: title / span 2;
    }
}

/* about section
================ */

.about {
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 8rem 0.7rem;
    grid-template-areas:
        "img1"    
        "day"
        "img2"
        "img3"
        "come";
}

.about-day,
.about-come {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.about-come h2,
.about-come p {
    color: white;
}

.about-img1 {
    grid-area: img1;
}

.about-day {
    grid-area: day;
}

.about-img2 {
    grid-area: img2;
}

.about-img3 {
    grid-area: img3;
}

.about-come {
    grid-area: come;
    padding: 3rem 1rem;
    background-color: black;
}

@media only screen and (min-width: 600px) {
    .about {
        grid-template-columns: 3fr 0.8fr 3fr;
        grid-template-areas:
            "day img1 img1"
            "img2 img2 img3"
            "img2 img2 come";
        margin: 8rem 2rem;
    }
    .about-come {
        padding: 0 2rem;
        height: 100%;
    }
    .about-day {
        padding-right: 10%;
    }
}

@media only screen and (min-width: 780px) {
    .about-come {
        padding: 0 3rem;
    }
    .about {
        padding: 8rem 7vw;
        max-width: 1050px;
        margin: auto;
    }
}

/* footer 
========== */
footer {
    background-color: var(--black-color);
    padding: 12vh 9vw; 
    display: grid;
    gap: 1.75rem;
    grid-template-areas: 
        "title"
        "description"
        "icons";
}

footer .heading {
    grid-area: title;
    font-size: 1.25rem;
    color: var(--white-color);
}

footer .body {
    grid-area: description;
    font-size: 1rem;
    color: var(--white-color);
}
.contact-icons {
    grid-area: icons;
    display: flex;
    gap: 1rem;
}

.contact-icon {
    transition: fill 0.4s ease-out;
}
.contact-icons a:hover .contact-icon {
    fill: var(--gold-color);
}

@media only screen and (min-width: 600px) {
    footer {
        grid-template-columns: 1fr auto 8% 35% 15% auto 1fr;
        grid-template-areas: 
            "none title space description space2 icons none2"; 
        padding: 12vh 0;
        gap: 0;
    }
}

@media only screen and (min-width: 1000px) {
    footer .heading {
        font-size: 2rem;
    }

    footer .body {
        font-size: 1.125rem;
    }
}

/*================
    Location page
================ */

.container-btn {
    position: relative;
    height: 0;
}
.absolute {
    position: absolute;
    top: 0;
    left: 12%;
    z-index: 20;
}

#map {
    height: 80vh;
    width: 100vw;
    z-index: 0;
}

.heading.small {
    font-size: 2rem;
    color: var(--gold-color);
}

@media only screen and (min-width: 1000px) {
    .heading.small {
        font-size: 2.5rem;
    }
    .location .body {
        font-size: 1.4rem;
    }
}

.location {
    display: grid;
    padding: 10vh 5vw;
    grid-template-areas: 
        "title"
        "address";
    gap: 3rem;
    background-color: var(--black-color);
}

.location .main {
    grid-area: title;
    color: var(--white-color);
}

.address-container {
    grid-area: address;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.address-container .body {
    color: white;
}

@media only screen and (min-width: 700px) {
    .location {
        grid-template-areas: 
            "title gap address";
        grid-template-columns: 30% 1fr 45%;
        gap: 0;
        padding: 10vh 10vw;
    }
}

.location-footer {
    background-color: var(--gold-color);
}

.location-footer .heading,
.location-footer .body,
.location-footer .contact-icon {
    color: var(--black-color);
    fill: var(--black-color);
}

.location-icons a:hover .loc-icon {
    fill: var(--grey-color);
}